#apply{
	font-size: 25px;
	color: yellowgreen;
}
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1{
	font-size: 2rem;
}

#landing{
	text-transform: uppercase;
}
.learned-languages{
	background-color: skyblue;
}
li[value]{
	border-style: solid;
}

img + ol{
	list-style: none;
}

section img{
	height: 130px;
	width: 130px;
	border-radius: 150px;
}

ol~p{
	text-align: center;
	font-size: 15px;
	color: black;
	font-weight: bold;
}
section>ol>li{
	letter-spacing: 15px;
}